.experience-page{
    padding-top: 6%;
    padding-bottom: 6%;
    width: 100%;
    display: flex;
    background-color: #F1FAFB;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #1a1a1a, #1e1d48); /* Gradient dark background */

}

.experience-page-topic{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #F1FAFB;

}

.experience-page-body {
    width: 90%;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    color: #F1FAFB;
}

.experience-page-body p {
    font-size: 16px;
    line-height: 1.5;
}

.experience-page-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 18px;
    flex-wrap: wrap;
    margin: auto;
}

.experience-frontend-development,
.experience-backend-development {
    background-color: #9DC6FF;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.experience-frontend-development ul,
.experience-backend-development ul {
    list-style-type: disc;
    margin-left: 20px;
}

.experience-frontend-development li,
.experience-backend-development li {
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px 0;
}

.images {
    width: 40px;
    height: 40px;
    margin: 5px;
}

@media only screen and (min-width: 768px) {
    .experience-page-body {
        width: 70%;
    }

    .experience-page-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .experience-frontend-development,
    .experience-backend-development {
        flex: 1;
        margin: 15px;
    }

    .images {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .experience-page-topic {
        font-size: 24px;
    }

    .experience-page-body {
        padding: 10px;
    }

    .experience-page-body p {
        font-size: 14px;
    }

    .experience-frontend-development,
    .experience-backend-development {
        margin: 10px 0;
        padding: 10px;
    }

    .images {
        width: 30px;
        height: 30px;
    }

    .experience-page-body img {
        width: 100px;
        height: auto;
    }
}
